

.fullcontent{
    
}
#line1{
    color: red;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Rowdies', "cursive";
}
#line2{
    font-family: 'Moon Dance', cursive;
    font-style: italic;

}
.header{
text-align: center;
}
.bodier{
    
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}
#picture{
    clip-path: circle(35% at 50% 50%);
    box-shadow:10px 10px 20px black;
}
#line3{
    border: none;
    height: 2px;
    color: red;
    background-color: red;
}
#line4{
    position: relative;
    text-decoration:none;
    text-transform: uppercase;
    color:black;


}
#line4::after {
    content: "";
    position: absolute;
    background: red;
    top: 100%;
    left: 0%;
    height: 2px;
    width:100%;
}
#line4::before{
    content: "";
    position: absolute;
    background: red;
    top: 0;
    left: 0%;
    height: 100%;
    width:0;
}
#line4:hover::before{
    width: 100%;
    transition: 1s;
    z-index: -1;
}
.paragraph{
    height: 200px;
    width: 400px;
}