.container {
  background-repeat: no-repeat;
  background-image: url("https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/07dfdfa5239551ee9e51616d/front-view-smiley-elegant-businesswoman-using-laptop-with-copy-space.jpg");
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;

}

.read {
  margin-right: 140px;
  width: 40%;
  background-size: contain;
  background: rgba(255, 255, 255, 0.71);
  padding:30px 50px 30px 20px;
}
#nut{
  background-color: brown;
  color: aliceblue;
  border-radius: 20px;
  padding: 5px 10px;
}